extends ../layout
block hero_unit
  .content.grey-bg
    include _sidenav

    .container
      h1 Tools to simplify your life at Belly
      p.grey Use these Belly Tools to make your life easier here at Belly.
        br
        | Choose a tool from the left to get started!

      br
      br
      br
      br
      br

    .clearfix