extends ../layout
block hero_unit
  .content.grey-bg
    include _sidenav

    .container

      h3.underline Merchant Guidelines

      p Belly is proud of our merchants, and we work hard to respect their brand. These are guidelines for creating beautifully displayed merchant logos throughout the Belly ecosystem.
      br

      h3.underline Making the Merchant Logo

      ul
        li
          a(href) Download PSD Template File
        li Use this template as a base for creating merchant logos for the Belly admin
        li A few tips to keep in mind
          ul
            li Always try to find a logo to use with a white background.
            li If a logo with a white background isn't possible, make sure the background color of the image used fills the entire square.
            li Resize the logo if need be so that it fits within the margin indicators.
            li Double check to make sure the logo is centered horizontally and vertically

    .clearfix