extends ../layout
block hero_unit
  .content.grey-bg
    include _sidenav

    .container
      h3.underline Signature Builder
      p
        strong Coming Soon. 
        | For now the Belly email signature tool can be found at 
        a(href="http://sig.bellycard.com", target="_new") sig.bellycard.com

      br
      br
      br
      br
      br

    .clearfix