{
  "development" : {
    "github": {
      "client_id": "1a2b3c4d5c",
      "secret": "q1w2e3r4t5y6u7i8o9"
    },
    "session_secret": "random_string_here"
    "cookie_secret": "random_string_here"
  },
  "testing" : {
    "github": {
      "client_id": "1a2b3c4d5c",
      "secret": "q1w2e3r4t5y6u7i8o9"
    }
  }
}
