- if (value)
  span.label.remove.green #{value}
    span.remove x
  //- span.label.remove.green kylefoundry
  //-   span.remove x
  //- span.label.remove.orange Week of 1/28
  //-   span.remove x
  //- span.label.remove.blue mercante
  //-   span.remove x
  //- span.label.remove.blue android
  //-   span.remove x
  //- span.label.remove.yellow Android Redesign
  //-   span.remove x