each values, category in categories
  
  - if (values)
    for value in values

      span(class="label remove #{category}", data-key="#{category}", data-value="#{value}") #{value}
        span.remove x