.btn-group.person.green
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Person
    span.caret
  ul.dropdown-menu

.btn-group.week.orange
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Week
    span.caret
  ul.dropdown-menu.narrow
    li.selected
      a(href='#')
        i.icon-calendar
        &nbsp; Week of 1/7
    li
      a(href='#')
        i.icon-calendar
        &nbsp; Week of 1/14
    li
      a(href='#')
        i.icon-calendar
        &nbsp; Week of 1/21

.btn-group.repo.blue
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Repo
    span.caret
  ul.dropdown-menu.narrow
    li.selected
      a(href='#')
        i.icon-briefcase
        &nbsp; android
    li
      a(href='#')
        i.icon-briefcase
        &nbsp; barco
    li
      a(href='#')
        i.icon-briefcase
        &nbsp; belly
    li.selected
      a(href='#')
        i.icon-briefcase
        &nbsp; getbelly.com
    li.selected
      a(href='#')
        i.icon-briefcase
        &nbsp; homepage
    li
      a(href='#')
        i.icon-briefcase
        &nbsp; mercante

.btn-group.project.yellow
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Project
    span.caret
  ul.dropdown-menu.narrow
    li.selected
      a(href='#')
        i.icon-th
        &nbsp; Android Redesign
    li
      a(href='#')
        i.icon-th
        &nbsp; Belly Bites Revamp
    li
      a(href='#')
        i.icon-th
        &nbsp; Homepage Refactor
    li.selected
      a(href='#')
        i.icon-th
        &nbsp; Better User Flows
    li
      a(href='#')
        i.icon-th
        &nbsp; iPhone Redesign