.btn-group.person.green
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Person
    span.caret
  ul.dropdown-menu

.btn-group.week.orange
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Week
    span.caret
  ul.dropdown-menu.narrow

.btn-group.repo.blue
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Repo
    span.caret
  ul.dropdown-menu.narrow

.btn-group.project.yellow
  a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Project
    span.caret
  ul.dropdown-menu.narrow