extends layout
block page_content
  
  .content
    #filter
      #filter-group
        .btn-group.title
          span Filter Issues

      #filter-applied
        span.label Applied Filters
        span.applied-filters
        span.label.clear
          span.remove x
          span Clear All

  #issues.grey-bg
    .content
      .section-header
        h1.pull-left#issue-count Loading issues...

        .list-style.pull-right
          .btn-group
            button.btn.active
              i.icon-th-large
            button.btn
              i.icon-align-justify

        .sorting.pull-right
          label.pull-left Sort by
          select.pull-left
            option First Created
            option Last Updated

      .issue-list.row-fluid
