extends layout
block page_content
  
  .content
    #filter
      #filter-group
        .btn-group.title
          span Filter Issues

        .btn-group.green
          a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Person
            span.caret
          .dropdown-menu
            p dude

        .btn-group.orange
          a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Week
            span.caret
          .dropdown-menu
            p dude

        .btn-group.blue
          a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Repo
            span.caret
          .dropdown-menu
            p dude

        .btn-group.yellow
          a.btn.dropdown-toggle(href="#", data-toggle="dropdown") By Project
            span.caret
          .dropdown-menu
            p dude

      #filter-applied
        span.label Applied Filters
        span.label.remove.green davearel
          span.remove x
        span.label.remove.green kylefoundry
          span.remove x
        span.label.remove.orange Week of 1/28
          span.remove x
        span.label.remove.blue mercante
          span.remove x
        span.label.remove.blue android
          span.remove x
        span.label.remove.yellow Android Redesign
          span.remove x
        span.label.clear
          span.remove x
          span Clear All

  #issues.grey-bg
    .content
      .section-header
        h1.pull-left 18 Issues

        .list-style.pull-right
          .btn-group
            button.btn.active
              i.icon-th-large
            button.btn
              i.icon-align-justify

        .sorting.pull-right
          label.pull-left Sort by
          select.pull-left
            option First Created
            option Last Updated

      .issue-list.row-fluid
        .issue.span6
          .name-img
            a.user-img(href='#')
              img.img-circle(src='https://secure.gravatar.com/avatar/b0eef3d7e84a671251623541ed75d35c?s=144&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-144.png')
            .title
              h3.issue-name
                a(href='#') Add app store icons/buttons to "Download the app" section on homepage
              span.created
                | created by 
                a(href='#') JennDudley
                |  3 days ago
              a.comments.pull-right(href='#')
                i.icon-comment
                |  3
          .tags
            span.label
              a(href='#') Issue #483
            span.label.pull-right.yellow.outline
              a(href='#') Android Redesign
            span.label.pull-right.orange.outline
              a(href='#') Week of 1/28
            span.label.pull-right.blue.outline
              a(href='#') mercante
            span.label.pull-right.green.outline
              a(href='#') kylefoundry

        .issue.span6
          .name-img
            a.user-img(href='#')
              img.img-circle(src='https://secure.gravatar.com/avatar/c24550fde17657360d1c55ddf5ccb5d0?s=144&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-144.png')
            .title
              h3.issue-name
                a(href='#') Clicking "About Belly" or "Get the App" animate scrolls to the section (see sub nav for getbelly.com)
              span.created
                | created by 
                a(href='#') kylefoundry
                |  4 days ago
              a.comments.pull-right(href='#')
                i.icon-comment
                |  1
          .tags
            span.label
              a(href='#') Issue #483
            span.label.pull-right.yellow.outline
              a(href='#') Android Redesign
            span.label.pull-right.orange.outline
              a(href='#') Week of 1/28
            span.label.pull-right.blue.outline
              a(href='#') mercante
            span.label.pull-right.green.outline
              a(href='#') JennDudley

        .issue.span6
          .name-img
            a.user-img(href='#')
              img.img-circle(src='https://secure.gravatar.com/avatar/bf7ad535163935d9a6850c8d1330b36b?s=144d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-144.png')
            .title
              h3.issue-name
                a(href='#') Add Smart App banner for iOS users
              span.created
                | created by 
                a(href='#') jdoconnor
                |  4 days ago
              a.comments.pull-right(href='#')
                i.icon-comment
                |  1
          .tags
            span.label
              a(href='#') Issue #483
            span.label.pull-right.yellow.outline
              a(href='#') Android Redesign
            span.label.pull-right.orange.outline
              a(href='#') Week of 1/28
            span.label.pull-right.blue.outline
              a(href='#') mercante
            span.label.pull-right.green.outline
              a(href='#') sethbro

        .issue.span6
          .name-img
            a.user-img(href='#')
              img.img-circle(src='https://secure.gravatar.com/avatar/00d7a6dadff0a7007ba8ef8a21b9ae0c?s=144&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-144.png')
            .title
              h3.issue-name
                a(href='#') User campaigns are weighted. use that for the sorting order
              span.created
                | created by 
                a(href='#') davearel
                |  4 days ago
              a.comments.pull-right(href='#')
                i.icon-comment
                |  1
          .tags
            span.label
              a(href='#') Issue #483
            span.label.pull-right.yellow.outline
              a(href='#') Android Redesign
            span.label.pull-right.orange.outline
              a(href='#') Week of 1/28
            span.label.pull-right.blue.outline
              a(href='#') mercante
            span.label.pull-right.green.outline
              a(href='#') jdoconnor

        .issue.span6
          .name-img
            a.user-img(href='#')
              img.img-circle(src='https://secure.gravatar.com/avatar/3ac5567d167edad37505b30e4e405bfb?s=144&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-144.png')
            .title
              h3.issue-name
                a(href='#') Clicking "About Belly" or "Get the App" animate scrolls to the section (see sub nav for getbelly.com)
              span.created
                | created by 
                a(href='#') davearel
                |  4 days ago
              a.comments.pull-right(href='#')
                i.icon-comment
                |  1
          .tags
            span.label
              a(href='#') Issue #483
            span.label.pull-right.yellow.outline
              a(href='#') Android Redesign
            span.label.pull-right.orange.outline
              a(href='#') Week of 1/28
            span.label.pull-right.blue.outline
              a(href='#') mercante
            span.label.pull-right.green.outline
              a(href='#') craigulliott