#filter
  margin 30px 0

  #filter-group
    height 46px
    margin-bottom 15px

    .btn-group
      height 46px
      margin 0 -5px 0 0
      padding 0
      line-height 46px

      &.title
        background bblue
        width 108px
        padding-left 18px
        position relative
        z-index 100
        border-radius 4px 0 0 4px
        box-shadow inset 0 0 0 1px rgba(0,0,0,0.07)
        span
          font-size 16px
          font-family pt-sans
          color white

      a.dropdown-toggle
        background grey_fa
        border-radius 0
        height 46px
        width 169px
        color grey_9
        font-size 13px
        line-height 46px
        text-align left
        padding 0 0 0 36px
        box-shadow inset 0 0 0 1px rgba(0,0,0,0.07)
        position relative
        outline none
        .caret
          position absolute
          top 14px
          right 18px
        &:after
          content ' '
          background bgreen
          display block
          height 10px
          width 10px
          border-radius 10px
          box-shadow inset 0 0 0 1px rgba(0,0,0,0.1)
          position absolute
          top 18px
          left 18px

      &.open
        a
          background white

      &:last-of-type
        a.dropdown-toggle
          border-radius 0 4px 4px 0

      &.orange
        a.dropdown-toggle
          &:after
            background borange
      &.blue
        a.dropdown-toggle
          &:after
            background bblue
      &.yellow
        a.dropdown-toggle
          &:after
            background byellow

    .dropdown-menu
      min-width 407px

#issues
  padding-bottom 50px
  overflow hidden

  .issue
    background white
    border 1px solid rgba(0,0,0,0.1)
    border-radius 4px
    margin-bottom 20px

    &.span6
      &:nth-child(odd)
        margin-left 0
        clear left

    .name-img
      padding 15px
      overflow hidden

      .user-img
        float left
        margin-right 13px

        img
          width 72px
          height 72px
    .title
      float left
      width 342px

      h3
        margin-bottom 5px
        a
          color grey_6
          &:hover
            text-decoration none
            color bblue

      span.created
        color grey_9
        font-size 13px

        a
          color grey_6
          font-weight bold

      a.comments
        color grey_3
        font-weight bold
        opacity 0.4
        i
          margin-top 2px

        &:hover
          text-decoration none
          opacity 1
    .tags
      border-top 1px solid grey_e
      padding 15px 15px 10px
