html
  position relative
  min-height 100%

body
  padding-top 63px
  margin 0 0 60px
  min-height 100%

h1, h2, h3, h4
  font-family open-sans
  font-weight 300
  font-size 32px
  padding 0
  margin 0 0 10px

h3
  font-size 21px
  line-height 26px
  color grey_6

  &.underline
    border-bottom 2px solid grey_e
    padding-bottom 12px
    margin-bottom 20px

h4
  font-size 18px
  margin-bottom 15px

a
  color bblue

p.grey
  color grey_9

[class^="icon-"], [class*=" icon-"]
  background-image url("../images/glyphicons-halflings.png")

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"]
  background-image url("../images/glyphicons-halflings-white.png")

.dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"]
  background-image url("../images/glyphicons-halflings.png")

.container
  width 100%

.content
  width 940px
  margin 0 auto
  overflow hidden

.grey-bg
  background grey_fa
  border-top 1px solid grey_e

.hero-unit
  padding 40px 0 50px
  margin-bottom 0
  background white

  h1
    font-size 32px

  &.header-unit
    h1
      padding-top 6px

.dropdown-menu
  padding 0
  margin 0 0 0 1px
  border-radius 0
  box-shadow none
  border 0
  box-shadow 0 0 0 1px rgba(0,0,0,0.1)

.section-header
  padding 30px 0 27px
  overflow hidden

  .sorting
    margin-top 4px
  label
    line-height 30px
    font-weight bold
    padding-right 10px
  select
    margin-bottom 0
  .list-style
    margin 2px 0 0 20px

.navbar
  border-top 4px solid bblue

  .navbar-inner
    height 60px
    background #222
    background-image none
    border 0
    box-shadow none

    .container
      height 60px

      .brand
        background url(../images/logo.svg) 0 50% no-repeat
        font-family open-sans
        font-weight 300
        color white
        font-size 24px
        line-height 60px
        padding 0 0 0 43px
        margin 0 30px 0 0

      .nav
        height 60px
        font-family open-sans

        li
          height 60px

          a
            padding 0 25px
            display block
            height 100%
            line-height 60px
            color grey_9
            font-size 14px
            border-left 1px solid #3b3b3b
            text-shadow none

            &.issues
              background url(../images/nav-icons.svg) 25px 20px no-repeat
              padding-left 53px

            &:hover
              color #fff

            .caret
              margin 28px 0 0 10px

          &:last-of-type 
            a
              border-right 1px solid #3b3b3b

          &.active
            a
              background-color #fff
              background-position 25px -50px
              box-shadow none
              color grey_6
              border 0

          &:hover
            background grey_3

      .navbar-form
        margin-top 8px
        .btn
          box-shadow none

.left-nav
  width 240px
  float left

  ul
    list-style none
    margin 0

    li
      padding 0
      margin 0

      &.active
        a
          color grey_6
          font-weight bold
          border-right 0
          background white

      &:last-child
        border-bottom 0

      a
        color bblue
        font-size 14px
        text-decoration none
        line-height 60px
        padding-left 20px
        display block
        border 1px solid grey_e
        border-top 0

        &:hover
          background white

.content .container
  background white
  width 670px
  padding 30px 0 30px 30px
  float left

footer
  background grey_e
  border-top 1px solid grey_d
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  overflow hidden

  p.copyright
    line-height 60px

.table
  border-bottom 1px solid grey_d

  thead
    font-size 21px
    font-family open-sans
    color grey_6

    th
      padding 0 0 18px
      font-weight normal !important
      border-bottom 1px solid grey_d

      &:first-child
        padding-left 15px

  tr
    td
      background white !important
      padding 18px 0
      border-top 0

      &:first-child
        padding-left 15px

      &:last-child
        padding-right 15px

      &.actions
        .btn
          margin-left 5px

    &:nth-child(even)
      td
        background grey_fa !important