body
  padding-top 63px

h1, h2, h3
  font-family pt-sans
  font-weight normal
  font-size 32px
  padding 0
  margin 0

h3
  font-size 21px
  line-height 26px
  color grey_6

[class^="icon-"], [class*=" icon-"]
  background-image url("../images/glyphicons-halflings.png")

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"]
  background-image url("../images/glyphicons-halflings-white.png")

.container
  width 100%

.content
  width 940px
  margin 0 auto
  overflow visible

.grey-bg
  background grey_fa
  border-top 1px solid grey_e

.hero-unit
  padding 40px
  margin-bottom 0
  background white

  h1
    font-size 32px

  &.header-unit
    h1
      padding-top 6px

.dropdown-menu
  padding 0
  margin 0 0 0 1px
  border-radius 0
  box-shadow none
  border 0
  box-shadow 0 0 0 1px rgba(0,0,0,0.1)

.section-header
  padding 30px 0 27px
  overflow hidden

  .sorting
    margin-top 4px
  label
    line-height 30px
    font-weight bold
    padding-right 10px
  select
    margin-bottom 0
  .list-style
    margin 2px 0 0 20px

.navbar
  border-top 4px solid bblue

  .navbar-inner
    height 60px
    background #222
    background-image none
    border 0
    box-shadow none

    .container
      height 60px

      .brand
        background url(../images/logo.svg) 0 50% no-repeat
        font-family pt-sans
        font-weight bold
        color white
        font-size 24px
        line-height 60px
        padding 0 0 0 43px
        margin 0 30px 0 0

      .nav
        height 60px

        li
          height 60px

          a
            background url(../images/nav-icons.svg) 25px 20px no-repeat
            padding 0 25px 0 53px
            display block
            height 100%
            line-height 60px
            color grey_9
            font-size 16px
            border-left 1px solid #3b3b3b
            text-shadow none

            .caret
              margin 28px 0 0 10px

          &:last-of-type 
            a
              border-right 1px solid #3b3b3b

          &.active
            a
              background-color #fff
              background-position 25px -50px
              box-shadow none
              color grey_6
              border 0

      .navbar-form
        margin-top 8px
        .btn
          box-shadow none

footer
  background grey_e
  height 60px
  border-top 1px solid grey_d

  p.copyright
    line-height 60px

.table
  border-bottom 1px solid grey_d

  thead
    font-size 21px
    font-family pt-sans
    color grey_6

    th
      padding 0 0 18px
      font-weight normal !important
      border-bottom 1px solid grey_d

      &:first-child
        padding-left 15px

  tr
    td
      background white !important
      padding 18px 0
      border-top 0

      &:first-child
        padding-left 15px

      &:last-child
        padding-right 15px

      &.actions
        .btn
          margin-left 5px

    &:nth-child(even)
      td
        background grey_fa !important