@import url("http://fonts.googleapis.com/css?family=PT\+Sans:400,700,400italic,700italic")

// Custom Colors
bblue = #33a9e0
bblack = #333
bgreen = #8ac730
borange = #f75320
byellow = #e0c52d
grey_9 = #999
grey_6 = #666
grey_d = #ddd
grey_e = #eee
grey_fa = #fafafa

// Font Styles
pt-sans = 'PT Sans', sans-serif

lucida = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
lucida-bold = font-weight bold